#console_one {
	border: 1px solid #ddd;
    border-radius: 4px;
	box-shadow: 5px 4px 8px 5px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 0px;
    width: 600px;
	height: auto;
}

#logic_one {
	border: 1px solid #ddd;
    border-radius: 4px;
	box-shadow: 5px 4px 8px 5px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 0px;
    width: 600px;
	height: auto;
}

#console_two {
	border: 1px solid #ddd;
    border-radius: 4px;
	box-shadow: 5px 4px 8px 5px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 0px;
    width: 600px;
	height: auto;
}
