/*This is where I'd
put my custom css...
IF I HAD ANY! */

.img.card {
	width: 10%;
	height: 10%;
}

.img-thumbnail.rounded-circle {
	height: 15%;
	width: 15%;
}

.card-header {
	text-align: center;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 3px;
}

h2 {
	font-weight: 700;
	text-align: center;
}

#banner {
	text-align: center;
}

#home {
	padding-top: 5%;
	padding-bottom: 3%;
}

#icons {
	width: 400px;
	margin: auto;
}

#portfolioslides {
    background-color: #6c757d !important;
}

#exp {
	margin-bottom: 5%;
}
