html, body {
	height: 100vh;
	margin: 0;
	overflow: hidden;
}

#navbar {
	background-color: #3c2f2b;
}

/* TODO Fix Container Height to be full screen */
#content-container {
	background: url(../img/index.jpg);
	background-repeat: no-repeat;
    background-size: cover;
	height: 900px;
	width: auto;
}

#header {
	background-color: transparent;
	margin-left: 5%;
	margin-bottom: 10%;
}

#header-title {
	margin-top: 10%;
}

#banner {
	text-shadow: 4px 4px 0px rgba(0,0,0,0.2);
	font-weight: 500;
}
